<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC9h0kHNYfQF6v9CCMqG-LnVhIkWBVKT2I</string>
	<key>GCM_SENDER_ID</key>
	<string>178575619019</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>darpon.iNEWS</string>
	<key>PROJECT_ID</key>
	<string>inews-517b2</string>
	<key>STORAGE_BUCKET</key>
	<string>inews-517b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178575619019:ios:ac5dd89a28f53c03a8bc4e</string>
</dict>
</plist>